<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-phonegapdemoplugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>PhonegapDemoPlugin</name><js-module name="PhonegapDemoPlugin" src="www/PhonegapDemoPlugin.js"><clobbers target="cordova.plugins.PhonegapDemoPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="PhonegapDemoPlugin"><param name="ios-package" value="PhonegapDemoPlugin" /></feature></config-file><source-file src="src/ios/PhonegapDemoPlugin.m" /></platform></plugin>